#/usr/bin/env sh

# Reload zshrc
alias reload=". ~/.zshrc && echo 'ZSH config reloaded from ~/.zshrc'"

alias pingg='ping google.com' # Ping the biggest search engine

alias mkdir='mkdir -p'            # Make directory with intermediate option
alias tmux='tmux -u'              # Start tmux session with UTF-8 checks
alias hosts='sudo vim /etc/hosts' # Edit hosts name

alias lsd='ls -l | grep "^d"' # List directory only
alias lsf='ls -l | grep "^-"' # List files only
alias lsh='ls -ld .??*'       # List hidden files only
alias lsah='ls -lAh'          # List all files with human readable size format
alias lst='ls -tl'            # List & order by last modified

alias art='php artisan --env=local'  # Run artisan command
alias phpunit='./vendor/bin/phpunit' # Run PHP unit

# Reset file permission to default
alias chmod-reset='find . -type d -print0 | xargs -0 chmod 755 && find . -type f -print0 | xargs -0 chmod 644'

# Remove unnecessary files
alias remove-unnecessary-files="find . -type f \( -name .DS_Store -o -name Thumbs.db \) -print0 | xargs -0 rm"

# Python aliases
alias python2='python2.7'
alias python='python3'

# Nginx aliases
alias nginx.start='sudo launchctl load /Library/LaunchDaemons/homebrew.mxcl.nginx.plist'
alias nginx.stop='sudo launchctl unload /Library/LaunchDaemons/homebrew.mxcl.nginx.plist'
alias nginx.restart='nginx.stop && nginx.start'
alias nginx.config='sudo nginx -t'
alias nginx.enter='cd /usr/local/etc/nginx'

# PHP FPM aliases
alias php-fpm.start="launchctl load -w ~/Library/LaunchAgents/homebrew.mxcl.php71.plist"
alias php-fpm.stop="launchctl unload -w ~/Library/LaunchAgents/homebrew.mxcl.php71.plist"
alias php-fpm.restart='php-fpm.stop && php-fpm.start'

# MySQL aliases
alias mysql.start="launchctl load -w ~/Library/LaunchAgents/homebrew.mxcl.mysql.plist"
alias mysql.stop="launchctl unload -w ~/Library/LaunchAgents/homebrew.mxcl.mysql.plist"
alias mysql.restart='mysql.stop && mysql.start'

# Nginx log aliases
alias nginx.logs.error='tail -250f /usr/local/etc/nginx/logs/error.log'
alias nginx.logs.access='tail -250f /usr/local/etc/nginx/logs/access.log'
alias nginx.logs.default.access='tail -250f /usr/local/etc/nginx/logs/default.access.log'

# Fasd aliases
alias a='fasd -a'        # any
alias s='fasd -si'       # show / search / select
alias d='fasd -d'        # directory
alias f='fasd -f'        # file
alias sd='fasd -sid'     # interactive directory selection
alias sf='fasd -sif'     # interactive file selection
alias z='fasd_cd -d'     # cd, same functionality as j in autojump
alias zz='fasd_cd -d -i' # cd with interactive selection
alias v='f -e vim'       # quick opening files with vim

# Update & upgrade brew
alias brew-double-u='brew update && brew upgrade'

alias run-emu='~/Library/Android/sdk/tools/emulator -netdelay none -netspeed full'
alias list-emu='~/Library/Android/sdk/tools/emulator -list-avds'
